{% extends 'baselayout.html' %}
{% block title 'Fullscreen map' %}

{% block body %}
<div id="map" class="fullscreen-map"></div>
{% endblock %}

{% block script %}
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script type="text/javascript">
    var map = L.map('map').setView([51.05261763229727, 3.7257492542266846], 16);
    L.tileLayer('http://{s}.tile.stamen.com/watercolor/{z}/{x}/{y}.png', {
      attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      subdomains: 'abcd',
      minZoom: 1,
      maxZoom: 16
    }).addTo(map);

    $.getJSON('/map/data.json', function(data) {
      L.geoJson(data, {
        onEachFeature: function(feature, layer) {
          layer.bindPopup(feature.properties.name);
        }
      }).addTo(map);
    });
  </script>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <style type="text/css">
    html, body, #map {
      height: 100%;
      width: 100%;
    }
  </style>
{% endblock %}
