{% extends 'baselayout.html' %}
{% block title 'Taartje!' %}

{% block body %}
<div class="content">
  <h1>
    Taartje van {{taartje.organizer}}
    <p>{{taartje.date}}</p>
  </h1>
  <p>{{taartje.pitch}}</p>
  <p>Er zijn {{participants|length}} deelnemer(s)</p>

  <form method="post">
    <input id="name-input" name="name" type="text">
    <input type="submit" value="Ik doe mee!">
  </form>

  <ul class="participants">
    {% for participant in participants %}
    <li>{{participant.name}}</li>
    {% endfor %}
  </ul>

  <a href="{{path('home')}}">Terug naar het overzicht...</a>
</div>
{% endblock %}
